@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('./assets/fonts/static/Inter-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('./assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('./assets/fonts/static/Inter-Bold.ttf') format('truetype');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-green: hsl(75, 94%, 57%);
  --color-green-600: hsl(75, 94%, 40%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);

  --text-preset-1: 700 calc(24rem / 16) / 1.5 'Inter', sans-serif;
  --text-preset-2: 400 calc(14rem / 16) / 1.5 'Inter', sans-serif;
  --text-preset-2-bold: 700 calc(14rem / 16) / 1.5 'Inter', sans-serif;

  --spacing-50: 4;
  --spacing-100: 8;
  --spacing-150: 12;
  --spacing-200: 16;
  --spacing-300: 24;
  --spacing-500: 40;

  --card-width-sm: 327;
  --card-width-md: 384;
}

body {
  font: var(--text-preset-2);
  color: var(--color-white);
  background-color: var(--color-grey-900);

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  /* centering with position & transform */
  /* top: 50vh;
  transform: translateY(-50%); */
}

main {
  /* width: fit-content; */
}

.card {
  width: min(calc(var(--card-width-sm) / 16 * 1rem), calc(100vw - (20px)));
  /* max-width: 327px; */
  min-width: min-content;
  margin-inline: auto;
  padding: calc(var(--spacing-300) * 1px);
  background-color: var(--color-grey-800);
  border-radius: calc(var(--spacing-150) * 1px);

  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-300) / 16 * 1rem);
  align-items: stretch;

  text-align: center;

  @media (min-width: 576px) {
    width: min(calc(var(--card-width-md) / 16 * 1rem), calc(100vw - (20px)));
    padding: calc(var(--spacing-500) * 1px);
  }
}

img {
  width: 88px;
  height: 88px;
  margin-inline: auto;
  border-radius: 50%;
  object-fit: cover;
}

hgroup {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-50) / 16 * 1rem);

  h1 {
    font: var(--text-preset-1);
  }

  .location {
    font: var(--text-preset-2-bold);
    color: var(--color-green);
  }
}

.description {
}

nav {
  ul {
    font: var(--text-preset-2-bold);
  }

  li {
    list-style: none;

    + li {
      margin-top: calc(var(--spacing-200) / 16 * 1rem);
    }
  }

  a:link,
  a:visited {
    border-radius: calc(var(--spacing-100) * 1px);
    padding: calc(var(--spacing-150) * 1px);
    background-color: var(--color-grey-700);
    color: var(--color-white);
    text-decoration: none;
    display: block;
  }

  a:focus-visible {
    outline: 1px solid var(--color-green);
  }

  a:hover,
  a:active {
    background-color: var(--color-green);
    color: var(--color-grey-700);
  }
}

.attribution {
  position: absolute;
  top: calc(100% + (var(--spacing-200) / 16 * 1rem));
  left: 0;
  right: 0;

  font-size: 11px;
  text-align: center;

  a {
    /* color: hsl(228, 45%, 44%); */
    color: var(--color-green-600);
  }

  a:focus {
    outline: 1px solid var(--color-white);
    border-radius: 1px;
  }
}
